In [18]:
import pandas as pd
import numpy as np 
import matplotlib as plt

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn import preprocessing
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report

In [2]:
# It is your job to predict the sales price for each house. For each Id in the test set,
# you must predict the value of the SalePrice variable.

In [3]:
df = pd.read_csv(r"../data/train.csv")
test_df = pd.read_csv(r"../data/test.csv")

In [4]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
df['TotalBsmtSF']

0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1460, dtype: int64

In [7]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [9]:
df = pd.get_dummies(df)

In [10]:
df = df.fillna(0)

In [11]:
scaled_X=df.drop(columns=['SalePrice'])

In [12]:
scaled_y=df['SalePrice']

In [13]:
scaled_y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [14]:
scaled_X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0

In [63]:
#lab_enc = preprocessing.LabelEncoder()
#training_scores_encoded = lab_enc.fit_transform(scaled_y)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, scaled_y)

In [21]:
clf = RandomForestRegressor(random_state=0)

In [26]:
params = {'max_depth':range(1,100,10), 'n_estimators':range(1,100,10)}

In [27]:
rand_search_clf = RandomizedSearchCV(clf, params, cv=5)

In [28]:
rand_search_clf.fit(X_train, y_train)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=0, verbose=0,
                                                   warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'max_depth': range(1, 100, 10),
                                        'n_estimators': range(1, 100, 10)},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [29]:
best_clf = rand_search_clf.best_estimator_

In [37]:
predictions = best_clf.predict(X_test)

In [38]:
predictions

array([237616.69230769, 176314.        , 169342.05494505, 135949.26373626,
       126060.43956044, 334394.50549451, 151798.95604396, 158976.65934066,
       175712.13186813, 185299.89010989, 150796.6043956 , 188675.95604396,
       150154.76923077, 174835.59340659, 165052.85714286, 121529.49450549,
       138827.47252747, 200454.83516484, 281067.06593407, 123198.07692308,
       263664.24175824, 193486.25274725, 128407.32967033, 153441.78021978,
       220899.83516484, 215291.2967033 , 137465.78021978, 247902.21978022,
       172030.76923077, 136258.59340659, 243666.17582418, 157170.68131868,
       124425.72527473, 148677.04395604, 174031.38461538, 342200.91208791,
       113005.91208791, 146155.76923077,  76349.74725275, 167847.8021978 ,
       221473.27472527, 304800.53846154, 135707.34065934, 197837.14285714,
       161066.12087912,  90475.91208791, 171749.12087912, 151260.45054945,
       144939.57142857, 155451.98901099, 111511.45054945, 262743.65934066,
       295644.40659341, 190827.1978022 , 144841.03296703, 201153.84615385,
       268359.78021978, 183870.32967033, 179079.47252747, 151094.48351648,
       343633.87912088, 139963.18681319, 280238.26373626,  60855.94505495,
       180755.21978022, 190819.01098901, 171001.37362637, 151394.50549451,
       206361.62637363, 147074.45054945, 129122.89010989, 267443.16483516,
       135924.26373626, 108584.73626374, 204099.01098901, 232738.78021978,
       178679.98901099, 152296.82417582, 137965.93406593, 134587.72527473,
       101865.75824176, 112104.3956044 , 411905.13186813, 111771.40659341,
       145392.30769231, 156370.32967033, 118593.14285714, 137026.17582418,
       219473.20879121, 179941.61538462, 136669.95604396, 115085.14285714,
       266510.28571429, 347941.2967033 , 178538.31868132, 155443.7032967 ,
        91065.94505495, 194415.2967033 , 121787.14285714, 164972.        ,
       112741.74725275, 307439.26373626, 302105.47252747, 175556.94505495,
       203653.42857143, 146758.89010989, 142800.13186813, 306426.69230769,
       159529.93406593, 128514.94505495, 236928.54945055, 173353.95604396,
       194811.26373626, 149142.94505495, 248957.34065934, 241308.31868132,
        87751.0989011 , 246290.3956044 , 139060.        , 106733.10989011,
       141485.98901099, 204356.58241758, 239652.20879121, 133064.28571429,
       104843.36263736, 151350.54945055, 106576.        , 170010.92307692,
       180340.17582418, 160462.08791209, 140552.1978022 , 223790.8021978 ,
       129972.89010989,  86303.10989011, 186151.71428571, 122214.51648352,
       182445.79120879, 178743.75824176, 146297.8021978 , 244910.7032967 ,
       100632.04395604, 206312.50549451, 396579.50549451, 156291.26373626,
       175386.96703297, 152932.37362637, 118399.81318681, 395954.73626374,
       241303.3956044 ,  90739.56043956, 187858.94505495, 154488.15384615,
       179101.28571429, 179606.01098901, 164978.0989011 , 132917.96703297,
       215660.83516484, 130412.36263736, 410430.14285714, 345127.51648352,
       229534.52747253, 210068.18681319, 102136.26373626, 331384.14285714,
       280926.45054945, 135203.38461538, 119248.04395604,  98357.14285714,
       152270.21978022, 223097.17582418, 216611.2967033 , 174871.23076923,
       181895.75824176, 166641.53846154, 120567.30769231, 211150.64835165,
       144096.23076923, 285542.98901099, 134710.10989011, 125366.28571429,
       185688.2967033 , 108894.68131868, 150846.56043956, 138463.73626374,
       166687.21978022, 140210.98901099, 157387.08791209, 225241.        ,
       119625.07692308, 190766.26373626, 130683.92307692, 187952.1978022 ,
       237830.10989011, 204203.65934066, 229072.36263736, 269656.51648352,
       295036.52747253, 159150.82417582, 144978.23076923, 192278.02197802,
       235713.38461538, 127476.17582418, 195295.86813187, 148279.1978022 ,
       120553.26373626, 112620.10989011, 226033.02197802, 146668.13186813,
       172424.17582418, 125209.86813187, 300472.        , 339131.01098901,
       200819.76923077, 108171.7032967 , 147340.65934066, 186192.03296703,
       209051.31868132, 174396.96703297, 281662.07692308, 186334.15384615,
       129632.76923077, 148879.83516484, 174600.06593407, 252756.06593407,
       121860.98901099, 154976.03296703, 147095.7032967 , 240251.31868132,
       138979.12087912, 207161.78021978, 223283.35164835, 136623.        ,
        91754.43956044, 108364.73626374, 131555.6043956 , 146728.57142857,
       138761.48351648, 250743.07692308, 175573.46153846, 241423.95604396,
       100211.68131868, 269788.68131868, 181715.21978022, 172925.27472527,
       299776.        , 231358.59340659, 132247.71428571, 272143.72527473,
       139542.59340659, 203821.47252747, 205584.61538462, 102448.35164835,
       257649.20879121, 147812.57142857, 196378.94505495, 196385.52747253,
       130952.92307692, 137509.06593407, 109989.57142857, 372918.83516484,
       307610.3956044 , 149301.65934066, 153781.06593407,  90692.08791209,
       178410.87912088, 130301.24175824, 208353.04395604, 153334.89010989,
        95935.16483516, 125317.85714286, 128724.26373626, 232106.85714286,
       166764.3956044 , 156081.3956044 , 141031.25274725, 136360.16483516,
       222981.78021978, 125115.38461538, 384672.74725275, 250553.68131868,
       129532.79120879, 105546.38461538, 138986.07692308, 238404.14285714,
       272125.31868132,  90835.13186813, 188708.68131868, 142883.95604396,
       165430.31868132, 352502.21978022, 125897.14285714, 374274.8021978 ,
       168362.91208791, 176123.62637363, 142279.76923077, 188529.48351648,
       282565.68131868, 141515.61538462,  88547.10989011, 390511.91208791,
       145218.35164835, 132140.17582418, 139951.23076923, 138774.17582418,
       195210.97802198, 315986.76923077, 112878.45054945, 162440.37362637,
       241151.52747253, 125371.52747253, 133475.38461538, 101236.03296703,
       168031.63736264, 172142.6043956 , 113674.72527473, 160899.34065934,
       252789.10989011, 270808.05494505, 160077.8021978 , 178310.13186813,
       104543.78021978, 206716.28571429, 133332.38461538, 133266.48351648,
       107668.04395604, 186743.84615385, 323772.59340659, 214291.21978022,
       141585.8021978 , 141936.94505495, 356955.01098901, 159605.62637363,
       141495.6043956 , 194361.56043956, 115779.75824176, 145324.54945055,
        75262.56043956, 136846.2967033 , 264436.95604396, 212644.83516484,
       142605.05494505, 180538.15384615, 123834.97802198, 186968.34065934,
       168128.38461538, 161586.81318681, 138144.31868132, 138213.40659341,
       116109.25274725,  72105.87912088, 135257.96703297, 157731.31868132,
       145762.74725275, 265343.06593407, 238577.16483516, 135296.2967033 ,
       217617.10989011,  89119.01098901, 356200.89010989, 206372.84615385,
       121676.34065934, 342247.01098901,  97715.12087912, 135834.17582418,
       144372.52747253])

In [39]:
(y_test, predictions)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets